In [12]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html'

html_data_2 = requests.get(url).content
soup = BeautifulSoup(html_data_2 , 'html.parser')
tables = soup.find_all('table')

gme_table = None
for table in tables:
    if "GameStop Quarterly Revenue" in table.text:
        gme_table = table
        break

data = []

if gme_table is not None:
    for row in gme_table.find("tbody").find_all('tr'):
        cols = row.find_all("td")
        data.append((cols[0].text.strip(), cols[1].text.strip()))
        
gme_revenue = pd.DataFrame(data, columns=["Date","Revenue"])
gme_revenue["Revenue"] = gme_revenue["Revenue"].str.replace(',|\$', "", regex=True)
gme_revenue.dropna(inplace=True)
gme_revenue = gme_revenue[gme_revenue['Revenue'] != ""]
gme_revenue.tail()

          Date Revenue
57  2006-01-31    1667
58  2005-10-31     534
59  2005-07-31     416
60  2005-04-30     475
61  2005-01-31     709